In [30]:
import numpy as np
import pandas as pd

In [31]:
def turn_to_df(solution, col_name = None):  # Here you could input the variable
    num_col = len(list(solution.keys())[0])
    key_list = list(solution.keys())
    collect = []
    for row in range(0, len(key_list )):
        new_row = []
        for col in range(0, num_col):
            new_row.append(key_list[row][col])
        new_row.append(solution[key_list[row]])
    
        collect.append(new_row)
    return pd.DataFrame(collect, columns = col_name)

In [32]:
hub_list = pd.read_csv('Database/Hub list.csv')
hub_list.Ref_City = hub_list.Ref_City + "-" + hub_list.Country
hub_ref = {}
for city in hub_list.City.unique():
    hub_ref[city] = hub_list[hub_list["City"] == city]["Ref_City"].tolist()[0]

In [33]:
# Simple Version
masterfile = pd.read_excel("Database/Simple/Simple Routes.xlsx", sheet_name = 0)

# The following file works as a reference table to match the names of 2 sheets
hub_list = pd.read_csv('Database/Hub list.csv')
hub_list.Ref_City = hub_list.Ref_City + "-" + hub_list.Country
hub_ref = {}
for city in hub_list.City.unique():
    hub_ref[city] = hub_list[hub_list["City"] == city]["Ref_City"].tolist()[0]
    

def name_transform(city_name):
    if city_name in hub_ref.keys():
        #print(city_name, " : ", hub_ref[city_name])
        return hub_ref[city_name]
    else:
        print(city_name, " not Found")
        return city_name

# Read the input datasheet

In [34]:
attri_name = ["hub_direct", "hub_indirect", "country_direct", "country_indirect",
              "route_cap", "freq", "start", "night"]

In [35]:
attri_dict = {}
for key in attri_name:
    attri_dict[key] = pd.read_csv(f"Output/{key}_output.csv")

In [36]:
night = attri_dict["night"]
freq = attri_dict["freq"]

## Import datasheet from database

In [37]:

# Import Truck Capacity
truck_cap = pd.read_excel("Database/TruckVSCap.xlsx", sheet_name = 0)
T = truck_cap["Truck Type"].tolist()

C = {}
for row in truck_cap.index:
    C[truck_cap.loc[row, "Truck Type"]] = truck_cap.loc[row, "Capacity"]

In [38]:
used_hubs = masterfile.From.unique().tolist() +  masterfile.To.unique().tolist() # Not every hubs in the hub list is used
used_hubs = list( dict.fromkeys(used_hubs) )  # Remove duplicate

hub_list_used = [x for x in hub_list if x in used_hubs]

hub_list_used = hub_list.set_index("Ref_City")
hub_list_used = hub_list_used.loc[hub_list_used.index.isin(used_hubs), :]
hub_list_used.reset_index(inplace = True)

hub_list_used["Country"] = hub_list_used.apply(lambda row: row["Ref_City"].split("-")[-1], axis = 1) # To fill NA in country

L = {}
for country in hub_list_used.Country.unique():
    hub_collect = hub_list_used[hub_list_used.loc[:, "Country"] == country]["Ref_City"].tolist()
    L[country] = hub_collect
print(L)

H = hub_list_used.Ref_City.unique().tolist() # All hubs

{}

In [39]:
# Create the set of countries
E = hub_list_used.Country.unique().tolist() # from the "Hub list.csv" file

In [40]:
# Define tuplelist for the assign of variables

mjk = [(m,j,k) for m in E for j in E for k in E if (m != j) & (j != k) & (k != m)]
mk = [(m,k) for m in E for k in E if m != k]
pq = [(p,q) for m,k in mk for p in L[m] for q in L[k]]
piq =[(p,i,q) for (m,j,k) in mjk for p in L[m] for i in L[j] for q in L[k]]
pqt = [(p,q,t) for p,q in pq for t in T]

# Recommended Network - Weekly

### 1. Cost
### 2. Cost/kg

In [87]:
# Import the cost file
cost_file = pd.read_csv("Database/Costs.csv")

cost = {}
for row in cost_file.index:
    cost_key = (cost_file["From"][row], cost_file["To"][row], cost_file["Truck type"][row])
    cost[cost_key] = cost_file["Cost/kg"][row]
    
# Route Capacity
route_cap = attri_dict["route_cap"]

In [97]:
cost_file

,Unnamed: 0,Capacity,Costs,Distance,From,To,Truck type,Cost/kg
0,0,8381.0,304.12495,198.409,Hub Graz-AT,Hub Wien I-AT,2 Swap Bodies,0.036287
1,1,8381.0,812.49820,1122.724,Hub Graz-AT,Brüssel-BE,2 Swap Bodies,0.096945
2,2,8381.0,718.49770,951.814,Hub Graz-AT,Sofia-BG,2 Swap Bodies,0.085729
3,3,8381.0,383.01365,341.843,Hub Graz-AT,Brno-CZ,2 Swap Bodies,0.045700
4,4,8381.0,468.26640,496.848,Hub Graz-AT,Ostrava-CZ,2 Swap Bodies,0.055872
...,...,...,...,...,...,...,...,...
12987,3243,2250.0,697.26320,1153.772,Zilina- Strecno-SK,Malmö-SE,Van,0.309895
12988,3244,2250.0,386.92640,636.544,Zilina- Strecno-SK,Ljubljana-SI,Van,0.171967
12989,3245,2250.0,126.74720,202.912,Zilina- Strecno-SK,Bratislava - Raca-SK,Van,0.056332
12990,3246,2250.0,131.54780,210.913,Zilina- Strecno-SK,Bratislava - Petrzalka-SK,Van,0.058466
12991,3247,2250.0,5.00000,0.000,Zilina- Strecno-SK,Zilina- Strecno-SK,Van,0.002222

In [88]:
freq["all_cap"] = freq.apply(lambda row: row["3"] * C[row["2"]], axis = 1) # calculate the capacity of each route
freq["all_cost"] = freq.apply(lambda row: cost[(row["0"], row["1"], row["2"])] * row["3"], axis = 1)

In [89]:
# Cost / kg (Recommended) # if all the spaces are filled with co-loading opportunities
ckg_co = freq["all_cost"].sum() / freq["all_cap"].sum()

# Cost / demands # if no co-loading opportunities
ckg_no_co = freq["all_cost"].sum() / route_cap["2"].sum()

In [90]:
print("The overall cost is ",freq["all_cost"].sum())
print("The cost/kg (no co-loading) is ",ckg_no_co)

The overall cost is  2201.649839645367
The cost/kg (no co-loading) is  0.0003258037088404467

## Travel Time

In [91]:
tt_file = pd.read_csv("Database/travel time.csv")
TT = {}
for row in tt_file.index:
    key = (tt_file.loc[row, "From"], tt_file.loc[row, "To"])
    value = tt_file.loc[row, "est_tt"]
    
    TT[key] = value

In [92]:
freq["Travel Time"] = freq.apply(lambda row: TT[(row["0"], row["1"])], axis = 1)

In [93]:
average_tt_route = (freq["Travel Time"] * freq["3"]).sum() / freq["3"].sum()


print("The average Travel Time of the current model is ", average_tt_route)

The average Travel Time of the current model is  19.99404829487021

# Current Network

In [94]:

freq_current = pd.read_csv("Database/current_network.csv")
print(freq_current["Truck type"].unique())
print(truck_cap)
# The following section work as a formatting part. To avoid different naming issues
freq_current.replace("trailer", "Trailer", inplace = True)
freq_current.replace("2 swap bodies", "2 Swap Bodies", inplace = True)
freq_current.replace("van", "Van", inplace = True)
freq_current.replace("1 swap body", "Swap Body", inplace = True)
freq_current.replace("SEMI TRAILER", "Swap Body", inplace = True)
freq_current.replace("Cargo 50 m3", "Swap Body", inplace = True)
freq_current.replace("Sea Container", "2 Swap Bodies", inplace = True)
freq_current.replace("Van 15 m3", "Van", inplace = True)
freq_current.replace("Van 22m3", "Van", inplace = True)
freq_current.replace("4 swap bodies", "2 Swap Bodies", inplace = True)

F_ = {}
for row in freq_current.index:
    key = (freq_current.loc[row, "From"], freq_current.loc[row, "To"], freq_current.loc[row, "Truck type"])
    value = freq_current.loc[row, "Frequency"]
    
    F_[key] = value
    
for target in pqt:
    if target not in F_.keys():
        F_[target] = 0
        print(target)

['Trailer' '2 swap bodies' 'SEMI TRAILER' '1 swap body' 'van' 'trailer'
 'Van' 'Sea Container' 'Cargo 50 m3' 'Van 22m3' '4 swap bodies'
 'Van 15 m3']
      Truck Type  Capacity
0  2 Swap Bodies      8381
1      Swap Body      4191
2        Trailer      7650
3            Van      2250

In [95]:
cost_file

,Unnamed: 0,Capacity,Costs,Distance,From,To,Truck type,Cost/kg
0,0,8381.0,304.12495,198.409,Hub Graz-AT,Hub Wien I-AT,2 Swap Bodies,0.036287
1,1,8381.0,812.49820,1122.724,Hub Graz-AT,Brüssel-BE,2 Swap Bodies,0.096945
2,2,8381.0,718.49770,951.814,Hub Graz-AT,Sofia-BG,2 Swap Bodies,0.085729
3,3,8381.0,383.01365,341.843,Hub Graz-AT,Brno-CZ,2 Swap Bodies,0.045700
4,4,8381.0,468.26640,496.848,Hub Graz-AT,Ostrava-CZ,2 Swap Bodies,0.055872
...,...,...,...,...,...,...,...,...
12987,3243,2250.0,697.26320,1153.772,Zilina- Strecno-SK,Malmö-SE,Van,0.309895
12988,3244,2250.0,386.92640,636.544,Zilina- Strecno-SK,Ljubljana-SI,Van,0.171967
12989,3245,2250.0,126.74720,202.912,Zilina- Strecno-SK,Bratislava - Raca-SK,Van,0.056332
12990,3246,2250.0,131.54780,210.913,Zilina- Strecno-SK,Bratislava - Petrzalka-SK,Van,0.058466
12991,3247,2250.0,5.00000,0.000,Zilina- Strecno-SK,Zilina- Strecno-SK,Van,0.002222

In [96]:
freq_current["all_cap"] = freq_current.apply(lambda row: row["Frequency"] * C[row["Truck type"]], axis = 1) # calculate the capacity of each route
missing = []
for row in freq_current.index:
    ori = freq_current.loc[row, "From"]
    dst = freq_current.loc[row, "To"]
    if (freq_current.loc[row, "From"], freq_current.loc[row, "To"], freq_current.loc[row, "Truck type"]) in list(cost.keys()):
        continue    
    else:
        if ori not in used_hubs:
            missing.append(ori)
            
        if dst not in used_hubs:
            missing.append(dst)
            
        
        print(f"Can't find {ori} or {dst} in the cost file")
    
#    freq_current["all_cost"] = freq_current.apply(lambda row: cost[(row["From"], row["To"], row["Truck type"])] * row["Frequency"], axis = 1)

Can't find Slough-GB or Köln-DE in the cost file
Can't find Slough-GB or Köln-DE in the cost file
Can't find Slough-GB or Köln-DE in the cost file
Can't find Slough-GB or Köln-DE in the cost file
Can't find Slough-GB or Köln-DE in the cost file
Can't find Ryton Gateway-GB or Köln-DE in the cost file
Can't find Zaltbommel-NL or PZ 44 (Bochum) [im Bau]-DE in the cost file
Can't find Zaltbommel-NL or Köln-DE in the cost file
Can't find Zaltbommel-NL or Regensburg-DE in the cost file
Can't find Göteborg-SE or Oslo-NO in the cost file
Can't find Göteborg-SE or Oslo-NO in the cost file
Can't find Göteborg-SE or Oslo-NO in the cost file
Can't find Köln-DE or Brüssel-BE in the cost file
Can't find Köln-DE or Brüssel-BE in the cost file
Can't find Köln-DE or Brüssel-BE in the cost file
Can't find Köln-DE or Bettembourg-LU in the cost file
Can't find Köln-DE or Bettembourg-LU in the cost file
Can't find Köln-DE or Bettembourg-LU in the cost file
Can't find Hagenbrunn-AT or Zabrze-PL in the cost file
Can't find Hagenbrunn-AT or Brno-CZ in the cost file
Can't find Köln-DE or Dublin-IE in the cost file
Can't find Köln-DE or Dublin-IE in the cost file
Can't find Zaltbommel-NL or Dublin-IE in the cost file
Can't find Regensburg-DE or Ljubljana-SI in the cost file
Can't find Regensburg-DE or Ivanka pri Dunaji-SK in the cost file
Can't find Wien 1-AT or Regensburg-DE in the cost file
Can't find Wien 1-AT or Regensburg-DE in the cost file
Can't find Hagenbrunn-AT or Regensburg-DE in the cost file
Can't find Allhaming-AT or Regensburg-DE in the cost file
Can't find Allhaming-AT or Regensburg-DE in the cost file
Can't find Allhaming-AT or Regensburg-DE in the cost file
Can't find Allhaming-AT or Regensburg-DE in the cost file
Can't find Allhaming-AT or Regensburg-DE in the cost file
Can't find Enns-AT or Regensburg-DE in the cost file
Can't find Wernberg-AT or Regensburg-DE in the cost file
Can't find Regensburg-DE or Wien 1-AT in the cost file
Can't find Regensburg-DE or Wien 1-AT in the cost file
Can't find Regensburg-DE or Wien 1-AT in the cost file
Can't find Regensburg-DE or Wien 1-AT in the cost file
Can't find Regensburg-DE or Wien 1-AT in the cost file
Can't find Regensburg-DE or Liesing-AT in the cost file
Can't find Regensburg-DE or Liesing-AT in the cost file
Can't find Regensburg-DE or Hagenbrunn-AT in the cost file
Can't find Regensburg-DE or Hagenbrunn-AT in the cost file
Can't find Regensburg-DE or Hagenbrunn-AT in the cost file
Can't find Regensburg-DE or Hagenbrunn-AT in the cost file
Can't find Regensburg-DE or Hagenbrunn-AT in the cost file
Can't find Regensburg-DE or Hagenbrunn-AT in the cost file
Can't find Regensburg-DE or Hub Wien II-AT in the cost file
Can't find Regensburg-DE or Hub Wien II-AT in the cost file
Can't find Regensburg-DE or Allhaming-AT in the cost file
Can't find Regensburg-DE or Allhaming-AT in the cost file
Can't find Regensburg-DE or Allhaming-AT in the cost file
Can't find Regensburg-DE or Allhaming-AT in the cost file
Can't find Regensburg-DE or Allhaming-AT in the cost file
Can't find Regensburg-DE or Wals-AT in the cost file
Can't find Regensburg-DE or Wals-AT in the cost file
Can't find Regensburg-DE or Enns-AT in the cost file
Can't find Regensburg-DE or Enns-AT in the cost file
Can't find Regensburg-DE or Enns-AT in the cost file
Can't find Regensburg-DE or Hub Graz-AT in the cost file
Can't find Regensburg-DE or Hub Graz-AT in the cost file
Can't find Regensburg-DE or Hub Graz-AT in the cost file
Can't find Regensburg-DE or Hub Graz-AT in the cost file
Can't find Regensburg-DE or Wundschuh-AT in the cost file
Can't find Regensburg-DE or Wundschuh-AT in the cost file
Can't find Regensburg-DE or Wernberg-AT in the cost file
Can't find Regensburg-DE or Wernberg-AT in the cost file
Can't find Regensburg-DE or Hall in Tirol-AT in the cost file
Can't find Regensburg-DE or Hall in Tirol-AT in the cost file
Can't find Zabrze-PL or Hagenbrunn-AT in the cost file
Can't find Brno-CZ or Hagenbrunn-AT in the cost file
Can't find Brno-CZ or Ivanka pri Dunaji-SK in the cost file
Can't find Hradec Kralove-CZ or Strečno-SK in the cost file
Can't find Olomouc-CZ or Strečno-SK in the cost file
Can't find Ostrava-CZ or Strečno-SK in the cost file
Can't find Ostrava-CZ or Strečno-SK in the cost file
Can't find Ostrava-CZ or Strečno-SK in the cost file
Can't find Ricany-CZ or Ivanka pri Dunaji-SK in the cost file
Can't find Zlin-CZ or Strečno-SK in the cost file
Can't find Ivanka pri Dunaji-SK or Ricany-CZ in the cost file
Can't find Budapest NPKK (OE) or Regensburg-DE in the cost file
Can't find Helsingborg-SE or PZ 24 (Neumünster)-DE in the cost file

In [102]:
#freq_current.From.unique()
masterfile.From.unique()

array(['Wien 1-AT', 'Wien-AT', 'Brüssel-BE', 'Sofia-BG', 'Brno-CZ',
       'Ostrava-CZ', 'Krupka-CZ', 'Plzen-CZ', 'Hradec Kralove-CZ',
       'Speyer-DE', 'Köln-DE', 'Radefeld-DE', 'Feucht-DE', 'Lahr-DE',
       'Regensburg-DE', 'Hamburg-DE', 'Dorsten-DE', 'Hagen-DE',
       'Neuwied-DE', 'Krefeld-DE', 'Rüdersdorf-DE', 'Kolding-DK',
       'Barcelona-ES', 'Madrid-ES', 'Vitoria-ES', 'Turku (Lieto)-FI',
       'Vantaa-FI', 'Combs-la-Ville-FR', 'Slough-GB', 'Ryton Gateway-GB',
       'Spata-GR', 'Zagreb-HR', 'OLK-HU', 'Budapest-HU', 'Portlaoise-IE',
       'Kaunas-LT', 'Bettembourg-LU', 'EINDHOVEN-NL', 'Utrecht-NL',
       'Zaltbommel-NL', 'Oslo-NO', 'Ełk-PL', 'Poznań-PL', 'Zabrze-PL',
       'Koninko-PL', 'Wroclaw-PL', 'Bydgoszcz-PL', 'Lisbon-PT',
       'Oradea-RO', 'Stockholm-SE', 'Helsingborg-SE', 'ARLÖV-SE',
       'Malmö-SE', 'Ljubljana-SI', 'Bratislava Rača-SK',
       'Bratislava Petržalka-SK', 'Strečno-SK', 'Allhaming-AT',
       'Hagenbrunn-AT', 'Ivanka pri Dunaji-SK', 'Enns-AT', 'Göteborg-SE',
       'Ricany-CZ', 'Olomouc-CZ', 'Dublin-IE', 'Hall in Tirol-AT',
       'Hub Wien II-AT', 'Liesing-AT', 'Wals-AT', 'Wundschuh-AT',
       'Wernberg-AT', 'PZ 44 (Bochum) [im Bau]-DE', 'Zlin-CZ'],
      dtype=object)

In [84]:
missing

['Hub Graz-AT',
 'Hub Graz-AT',
 'Hub Graz-AT',
 'Hub Graz-AT',
 'Budapest NPKK (OE)',
 'PZ 24 (Neumünster)-DE']

In [352]:
used_hubs = masterfile.From.unique().tolist() +  masterfile.To.unique().tolist() # Not every hubs in the hub list is used
used_hubs = list( dict.fromkeys(used_hubs) )  # Remove duplicate

In [392]:
hub_list[hub_list["Ref_City"] == "Eindhoven-NL"]

Empty DataFrame
Columns: [Unnamed: 0, City, Ref_City, Country, AAAAA]
Index: []

In [393]:
hub_list["Country"] = hub_list.apply(lambda row: row.Ref_City.split("-")[-1], axis = 1)
hub_list.loc[:, ["City", "Ref_City", "Country"]].to_csv("Hub list.csv")

In [391]:
hub_list["Ref_City"].replace("Hradec Kralove-CZ", "Hradec Kralove - Brezhrad-CZ", inplace = True)
hub_list["Ref_City"].replace("Eindhoven-NL", "Eindhoven-Noord-NL", inplace = True)
hub_list["Ref_City"].replace("Zilina-SK", "Zilina- Strecno-SK", inplace = True)
hub_list["Ref_City"].replace("Lieto (Turku)-FI", "Lieto (Turku)-FL", inplace = True)

hub_list["Ref_City"].replace('Stockholm -SE', "Stockholm - Västberga-SE", inplace = True)
hub_list["Ref_City"].replace('Vantaa (Helsinki)-FI', "Vantaa (Helsinki)-FL", inplace = True)

hub_list["Ref_City"].replace("Kalsdorf bei Graz-AT", "Hub Graz-AT", inplace = True)


hub_list["Ref_City"].replace("PZ 93 (Regensburg)", "Regensburg", inplace = True)
hub_list["Ref_City"].replace("Zilina- Strecno", "Strecno", inplace = True)

In [101]:
#masterfile[masterfile.From == "Lieto (Turku)-FL"]

In [365]:
hub_list

     Unnamed: 0       City        Ref_City Country
0             0     Wien 1   Hub Wien I-AT      AT
1             1     Wien 2  Hub Wien II-AT      AT
2             2   Hub Linz     Hub Linz-AT      AT
3             3   Hub Graz     Hub Graz-AT      AT
4             4  Meiningen    Meiningen-AT      AT
..          ...        ...             ...     ...
460         460      Milan        Milan-IT      IT
461         461     Verona       Verona-IT      IT
462         462     Napoli       Napoli-IT      IT
463         463     Pesaro       Pesaro-IT      IT
464         464    Tallinn      Tallinn-EE      EE

[465 rows x 4 columns]

In [ ]:
masterfile.From