In [3]:
import pandas as pd

In [74]:
hub_list = pd.read_csv('Database/Hub list.csv')
# hub_list.Ref_City = hub_list.Ref_City + "-" + hub_list.Country
hub_ref = {}
for city in hub_list.City.unique():
    hub_ref[city] = hub_list[hub_list["City"] == city]["Ref_City"].tolist()[0]

In [12]:
def match_name(rrrfreq):
    for row in rrrfreq.index:
        if rrrfreq.loc[row, "Org. GTW"] in list(hub_ref.keys()):
            rrrfreq.loc[row, "Org. GTW"] = hub_ref[rrrfreq.loc[row, "Org. GTW"]]
        else:
            print("Can't find", rrrfreq.loc[row, "Org. GTW"])

        if rrrfreq.loc[row, "Dst. GTW"] in list(hub_ref.keys()):
            rrrfreq.loc[row, "Dst. GTW"] = hub_ref[rrrfreq.loc[row, "Dst. GTW"]]
        else:
            print("Can't find", rrrfreq.loc[row, "Dst. GTW"])

# When the simple route doesn't match hub name

In [115]:
new_hub_list = pd.read_excel("Database/Hub list.xlsx")

In [116]:
new_hub_list["Ref_City"] = new_hub_list.apply(lambda row: row.Ref_City.rstrip(), axis = 1)

In [117]:
hub_list = new_hub_list
hub_list.Country.unique()

array(['AT', 'BE', 'BG', 'CZ', 'DE', 'DK', 'ES', 'FI', 'FR', 'GB', 'GR',
       'HR', 'HU', 'IE', 'LT', 'LU', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE',
       'SI', 'SK', 'LV', 'IT', 'EE'], dtype=object)

In [118]:
hub_list["Country"].replace("FI", "FL", inplace = True)

In [119]:
#hub_list["Ref_City"].replace("Hradec Kralove", "Hradec Kralove - Brezhrad", inplace = True)
hub_list["Ref_City"].replace("Eindhoven", "Eindhoven-Noord", inplace = True)
hub_list["Ref_City"].replace("Zilina", "Zilina- Strecno", inplace = True)
hub_list["Ref_City"].replace("Lieto (Turku)", "Lieto (Turku)", inplace = True)
hub_list["Ref_City"].replace('Stockholm', "Stockholm - Västberga", inplace = True)
hub_list["Ref_City"].replace('Vantaa (Helsinki)', "Vantaa (Helsinki)", inplace = True)
hub_list["Ref_City"].replace("Kalsdorf bei Graz", "Hub Graz", inplace = True)
hub_list["Ref_City"].replace("PZ 50 (Köln)", "Köln", inplace = True)


hub_list["Ref_City"].replace("Hradec Kralove -CZ", "Hradec Kralove - Brezhrad-CZ", inplace = True)
hub_list["Ref_City"].replace("Eindhoven-NL", "Eindhoven-Noord-NL", inplace = True)
hub_list["Ref_City"].replace("Zilina-SK", "Zilina- Strecno-SK", inplace = True)
hub_list["Ref_City"].replace("Lieto (Turku)-FI", "Lieto (Turku)-FL", inplace = True)

hub_list["Ref_City"].replace('Stockholm -SE', "Stockholm - Västberga-SE", inplace = True)
hub_list["Ref_City"].replace('Vantaa (Helsinki)-FI', "Vantaa (Helsinki)-FL", inplace = True)

hub_list["Ref_City"].replace("Kalsdorf bei Graz-AT", "Hub Graz-AT", inplace = True)

hub_list["Ref_City"].replace("PZ 93 (Regensburg)", "Regensburg", inplace = True)
hub_list["Ref_City"].replace("Zilina- Strecno", "Strečno", inplace = True)

hub_list["Ref_City"].replace("Hub Wien I", "Wien 1", inplace = True)
hub_list["Ref_City"].replace("Budapest NPKK (OE)", "Budapest", inplace = True)



hub_list.to_csv("Database/Hub list.csv")

# Drop duplicate hubs in hub_list

In [121]:
hub_list = pd.read_csv('Database/Hub list.csv')
hub_list.Ref_City = hub_list.Ref_City + "-" + hub_list.Country
hub_ref = {}
for city in hub_list.City.unique():
    hub_ref[city] = hub_list[hub_list["City"] == city]["Ref_City"].tolist()[0]
    
hubs_unique = pd.DataFrame.from_dict(hub_ref, orient = "index")
hubs_unique["Country"] = hubs_unique.apply(lambda row: row[0].split("-")[-1], axis = 1)
hubs_unique = hubs_unique.reset_index()#.columns = ["Ref_City"]
hubs_unique.columns = ["City", "Ref_City", "Country"]
hubs_unique.to_csv("Database/Hub list.csv")

                        City                    Ref_City Country
0                     Wien 1                   Wien 1-AT      AT
1                     Wien 2              Hub Wien II-AT      AT
2                   Hub Linz                 Hub Linz-AT      AT
3                   Hub Graz                 Hub Graz-AT      AT
4                  Meiningen                Meiningen-AT      AT
..                       ...                         ...     ...
467                   Ricany       Ricany - Jazlovice-CZ      CZ
468                     NPKK       Budapest NPKK (OE)-HU      HU
469            Hall in Tirol            Hall in Tirol-AT      AT
470              Hub Wien II              Hub Wien II-AT      AT
471  PZ 44 (Bochum) [im Bau]  PZ 44 (Bochum) [im Bau]-DE      DE

[472 rows x 3 columns]

# Match the hubs name

In [49]:
rrrfreq = pd.read_excel("Result_Freq.xlsx")

rrrfreq.replace("Ryton Gateway", "Ryton", inplace = True)
for row in rrrfreq.index:
    if rrrfreq.loc[row, "Org. GTW"] in list(hub_ref.keys()):
        rrrfreq.loc[row, "Org. GTW"] = hub_ref[rrrfreq.loc[row, "Org. GTW"]]
    else:
        print("Can't find", rrrfreq.loc[row, "Org. GTW"])

    if rrrfreq.loc[row, "Dst. GTW"] in list(hub_ref.keys()):
        rrrfreq.loc[row, "Dst. GTW"] = hub_ref[rrrfreq.loc[row, "Dst. GTW"]]
    else:
        print("Can't find", rrrfreq.loc[row, "Dst. GTW"])

final = rrrfreq.loc[:, ["Org. GTW", "Dst. GTW", "Truck type", "Frequency"]]
final.columns = ["From", "To", "Truck type", "Frequency"]
final.to_csv("Database/current_network.csv")

Can't find COMBS LA VILLE
Can't find COMBS LA VILLE
Can't find COMBS LA VILLE
Can't find NPKK

# Transferred the frequency's hub name

In [71]:
result_freq = pd.read_excel("Database/Result_Freq.xlsx")
result_freq.replace("Ryton Gateway", "Ryton", inplace = True)
# export to current_network.csv
match_name(result_freq)

result_freq = result_freq.loc[:, ["Org. GTW", "Dst. GTW", "Truck type", "Frequency"]]
result_freq.columns = ["From", "To", "Truck type", "Frequency"]
result_freq.to_csv("Database/current_network.csv")

Can't find Budapest NPKK (OE)

# When the truck type and current frequency changes

In [ ]:

freq_current = pd.read_csv("Database/current_network.csv")

freq_current = freq_current.groupby(["From", "To", "Truck type"]).sum()
freq_current = freq_current.reset_index()
freq_current.to_csv("Database/current_network.csv")